@mixin flex($justify-content,$flex-wrap,$flex-direction) {
  display: flex;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}

@mixin colored($bkg,$col){
  color: $col;
  background-color: $bkg;
}
